/* Import font */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* test stuff */
h4 {
  color: blue !important;
}

/* Nav bar styling */

.navbar-inverse {
  background-color: #221f20;
  border-color: none;
  padding: 10px;
}

.navbar-right {
  font-family: "Lato",helvetica,arial,sans-serif;
  position: absolute;
  display: block;
  font-size: 1.2em;
  color: white;
  font-weight: 400;
}

ul.nav.navbar-nav.navbar-right {
  background: #ef7d22;
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 300px;
  position: relative;
  transition: all 0.5s ease;
  padding: 12px 10px 12px 10px;
}

ul.nav.navbar-nav.navbar-right::before {
  content: "More Experimentation Tools";
  }

ul.nav.navbar-nav.navbar-right:hover > li
{
  visibility: visible;
  opacity: 1;
  display: block;
  background: #009cab;
}

ul.nav.navbar-nav.navbar-right li {
  color: #fff;
  display: none;
  visibility: hidden;
  opacity: 0;
  float: left;
  padding: 0;
  position: relative;
  transition-duration: 0.5s;
}

ul.nav.navbar-nav.navbar-right li a {
  color: #fff;
  font-weight: normal;
  font-size: 0.9em;
    padding: 5px 0 5px 5px;
}

ul.nav.navbar-nav.navbar-right li:hover {
  background: #00727C;
}

ul.nav.navbar-nav.navbar-right li>a:hover {
  background-color: #004D53;
}

ul.nav.navbar-nav.navbar-right li {
  clear: both;
  width: 100%;
}